<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.android.car.updatable.snappautomotive.rro">
    <application android:hasCode="false" />
    <overlay
        android:priority="4001"
        android:targetPackage="com.android.car.updatable"
        android:targetName="CarServiceCustomization"
        android:resourcesMap="@xml/overlays"
        android:isStatic="true" />
</manifest>
